#form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 20px;
    border-radius: 8px;
    width: 500px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#sign{
    text-align: center;
    font-size: 18px;
    /* display: flex; */
    /* margin-top: 10px; */
}
input{
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    border: 1px solid grey;
    width: 90%;
}
nav{
display: flex;
justify-content: space-between;
background-color: blue;
padding: 20px 8px;
border-radius: 8px;
}
nav>div:nth-child(2){
display: flex;
justify-content: space-evenly;
width: 50%;
}
a{
text-decoration: none;
color: black;
}